.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.75rem;
}

.row-distance-5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.31rem;
}