.color-default {
    color: #ff5050 !important;
}

.color-income {
    color: #4CAF50 !important;
}

.color-investment {
    color: cadetblue !important;
}

.color-update-expense {
    color: orangered !important;
}

.color-rebal {
    color: darkgoldenrod !important;
}

.color-blue {
    color: #000080 !important;
}

.color-red-purple {
    color: #8B008B !important;
}

.cell-strong {
    font-weight: bold;
}