.color-default {
    color: #ff5050 !important;
}

.color-gray {
    color: dimgray !important;
}

.centralize {
    align-items: start;
}

.net-worth-big {
    background-color: #ff5050;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.net-worth-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 1rem;
    width: 100%;
}

.net-worth-grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 1rem;
    /*width: 100%;*/
}

.net-worth-item {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

